{% extends "layout.html" %}
{% block title %} Início {% endblock %}


{% block content %}

    {% if user.is_authenticated %}

        <h4>Utilizador autenticado</h4>

        <h1>Welcome, {{user.first_name}} {{user.last_name}}!</h1>
        <button type="button"><a href="{% url 'app:logout' %} ">Sair</a></button>
        
        <br><br>



    {% else %}

        <h4>Não autenticado</h4>

        <br>

        <button type="button" class=""><a href="{% url 'app:login_view' %}">Logar</a></button>
    
        <br><br><br>

    {% endif %}

    {% if posts %}
        {% for post in posts %}
            <br><br>

            <h2>{{post.title}}</h2>
            
            <h6>{{post.category.name}}</h6>
            <p>{{post.content}} </p>
            <p>{{post.created_at.hour}}:{{post.created_at.minute}},
                {{post.created_at.day}}/{{post.created_at.month}}/{{post.created_at.year}}</p>
            
            {% if user.is_authenticated %}
                {% if comments %}
                    {% for comment in comments %}
                        
                        {% if comment.post.id == post.id %}
                        
                        <h5>{{comment.name}} </h5>
                        <p>{{comment.content}} </p>
                            
                            {% if comment.email == user.email %}
                            <button><a href="{% url 'app:edit_comment' post.id comment.id %}">Editar</a></button>
                            <button><a href="{% url 'app:delete_comment' comment.id %}">Eliminar</a></button>
                            {% endif %}

                            <br><br>
                            {% endif %}
                        {% endfor %}

                {% else %}
                    
                {% endif %}
                
                <form action="{% url 'app:new_comment' %}" method="POST">
                
                    {% if message %}
                
                    <div class="msg_error">
                        <p> {{message}} </p>
                    </div>
                
                    {% endif %}

                    {% csrf_token %}
                
                    <input type="hidden" name="post" id="post" value="{{post.id}}">
                    <input type="text" name="comment" id="comment" placeholder="Comente aqui" required>
                
                    <input type="submit" value="Comentar">
                    </form>
                    
            {% endif %}
            {% endfor %}
            {% endif %}

{% endblock %}